// basic HTML elements like form labels, inputs, buttons, and others that can’t be broken down any further without ceasing to be functional.

$black: #0a0a0a;
$white: #fafafa;
$primary: rgb(242, 201, 76);
$primary__dark: #bb6a1b;

$light-fallback: rgb(242, 201, 76);
$light: linear-gradient(
  -45deg,
  rgba(242, 201, 76, 0.5) 0%,
  rgba(242, 153, 74, 0.5) 100%
);

$lake-fallback: rgb(0, 0, 70);
$lake: linear-gradient(0deg, rgba(0, 0, 70, 1) 0%, rgba(28, 181, 224, 1) 100%);

$three: 1fr minmax(min-content, 44em) 1fr;

// <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
//  <stop offset="0%" style="stop-color:rgb(242,201,76);stop-opacity:0.5" />
//  <stop offset="100%" style="stop-color:rgb(242,153,74);stop-opacity:0.5" />
// </linearGradient>

:root {
  --black: #0a0a0a;
  --white: #fafafa;
  --primary: rgb(242, 201, 76);
  --primary__dark: #bb6a1b;
  --light-fallback: rgb(242, 201, 76);
  --light: linear-gradient(
    -45deg,
    rgba(242, 201, 76, 0.5) 0%,
    rgba(242, 153, 74, 0.5) 100%
  );
  --lake-fallback: rgb(0, 0, 70);
  --lake: linear-gradient(
    0deg,
    rgba(0, 0, 70, 1) 0%,
    rgba(28, 181, 224, 1) 100%
  );

  --drop: hsla(0, 0%, 0%, 0.25);


  --three: 1fr minmax(min-content, 44em) 1fr;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--black);
  // cursor: url("svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' circle cx='50' cy='50' r='50' /svg");
}

p {
  margin-block-start: 0; // browser reset
}

a {
  color: var(--black);
}

a:hover {
  text-decoration: line-through;
}

:is(nav, .pedestal) a {
  line-height: 1.5rem;
  padding: 0.5rem;
  border-radius: 1.5rem; // smooth round?
}

:is(nav, .pedestal) a:hover {
  background: var(--drop);
}

h1 {
  font-weight: bold;
  padding: 1em;
  border: 8px solid var(--black);
}

h1 {
  // https://type-scale.com Major Third
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
  @media (max-width: 24em) {
    font-size: 1.563em;
  }
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  // this is way too complex for the base element
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 1000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

input {
  padding: 1em;
  width: 80%;
  width: calc(100% - 2em); // deals with padding on small sizes
  border-radius: 4px;
  margin-bottom: 1.5em;
  font-size: 1.25em;
  caret-color: var(--primary);
  border: 2px transparent solid;
}

input:focus {
  border: 2px $primary solid;
}

button {
  background: linear-gradient(
    -45deg,
    rgb(242, 201, 76) 0%,
    rgb(242, 153, 74) 100%
  );
  padding: 1em;
  border: none;
  border-radius: 4px;
  color: var(--white);
  font-size: 1.25em;
}

button:hover {
  background: linear-gradient(-45deg, #d6ad30 0%, #cd7425 100%);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
}

.screen-reader {
  visibility: hidden;
}

.three--row {
  grid-column: 1/4;
  width: 100%;
  display: grid;
  grid-template-columns: var(--three);
}

.three {
  display: grid;
  grid-template-columns: var(--three); // Im kinda dropping this in so do I need it now
  height: 100vh; // this is ok as it's a background content needs to be inside this

  .three--nav {
    @extend .three--row;
    grid-row: 1;
    writing-mode: vertical-rl; // this was to do with vertical but newer can work
  }

  .three--main {
    @extend .three--row;
    grid-row: 2;
    place-self: center;
  }

  .three--footer {
    @extend .three--row;
    grid-row: 3;
  }
}



.three--main {
  // place-self: center;

  max-width: 44em;

  svg {
    grid-row: 1/4;
    grid-column: 1/4;
    max-width: 44em;
    // fill: rebeccapurple;
  }

  .main-stop {
    stop-color: red;
  }
  .alt-stop {
    stop-color: green;
  }

  h1 {
    grid-row: 2;
    grid-column: 1;
    max-width: 44em;
  }

  p {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
  }
}






.ninety-vh {
  @media (min-content: 30rem) {
    // guess and check
    height: 90vh; // needs safari small fix
  }
}

.light {
  @extend .three;
  background: var(--light-fallback);
  background: var(--light);
  padding: 2em;
}

.lake {
  background: var(--lake-fallback);
  background: var(--lake);
  color: var(--white);
}

.lake a {
  color: var(--white);
}

#portfolio {
  background: var(--light-fallback);
  background: var(--light);
  height: 90vh;
  display: grid;
  grid-template-columns: var(--three);
  padding: 2em;
}

.label {
  grid-row: 1;
  @media (max-width: 24em) {
    font-size: 1.563em;
    grid-row: 1/3;
  }
  justify-self: start;
  writing-mode: vertical-rl;
  margin: 0;
  font-weight: normal;
}

.return {
  grid-row: 3;
  @media (max-width: 33em) {
    grid-row: 2/4;
  }
  grid-column: 3;
  writing-mode: vertical-rl;
  align-self: center; // to be above recaptcha when shown
  margin: 0;
}

.shadow {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.2));
  transition-duration: 350ms;
}

.shadow:hover {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));
}

.out {
  color: transparent;
  font-size: 2.5em;
  -webkit-text-stroke: 1.5px var(--white);
  letter-spacing: 0.1rem;
  paint-order: stroke fill; // css validator issue https://developer.mozilla.org/en-US/docs/Web/CSS/paint-order
}

.light .out {
  -webkit-text-stroke: 1.5px var(--primary__dark);
}

// performance
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
  stroke-linecap: round;
  width: 50%;
  margin: 0 auto;
}

.rotating circle {
  fill: none;
  stroke-width: 3.5;

  &:nth-of-type(1) {
    stroke-dasharray: 400;
  }

  &:nth-of-type(2) {
    stroke-dasharray: 300;
  }

  &:nth-of-type(3) {
    stroke-dasharray: 200;
  }
}

// security
@keyframes pop {
  0% {
    stroke-width: 0;
    stroke-opacity: 1;
  }
  100% {
    stroke-width: 8;
    stroke-opacity: 0;
  }
}

.paths {
  width: 20%;
  margin: 0 auto;
}

.paths path {
  &:nth-of-type(1) {
    animation: pop 2s infinite ease;
    stroke: rgba(0, 0, 0, 0.2);
  }
}

.logo-pop circle {
  animation: pop 2s infinite ease;
  stroke: rgba(0, 0, 0, 0.2);
}

.grad {
  fill: red;
  fill: var(--light);
}

.gradient-circle {
  fill: rgb(242, 201, 76); // fallback
}
