// @include Josefinsans.fontFaceVariable($weight: 500, $type: "wghtOnly");

body {
  font-family: "Josefin Sans", sans-serif;
  // this needs some love but its a functional starting point
  // cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3e%3cg transform='rotate(45 256 256)'%3e%3crect id='r' x='16' y='216' width='480' height='80' rx='14'/%3e%3cuse href='%23r' transform='rotate(90 256 256)'/%3e%3c/g%3e%3c/svg%3e") 16 16, auto;
/*   cursor: url("
    data:image/svg+xml,
    <svg xmlns='http://www.w3.org/2000/svg'
      width='32'
      height='32'
      viewBox='0 0 512 512'
    >
      <g transform='rotate(45 256 256)'>

        <rect
          id='r'
          x='16'
          y='216'
          width='480'
          height='80'
          rx='14'
        />
        
        // this is the second one
        <use
          href='#r'
          transform='rotate(90 256 256)'
        >
      </g>
    </svg>
  ")16 16, auto; */

  /*   cursor: url("
    data:image/svg+xml,
    <svg xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 100 100'
    >
      <circle
        cx='50' cy='50' r='50'
      />
    </svg>
  ")16 16, auto; */

  cursor: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'><circle cx='50' cy='50' r='25' stroke='whitesmoke' stroke-width='10' fill='none' /></svg>") 32 32, auto;
  background: color;


  @media (prefers-color-scheme: dark) {
    cursor: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'><circle cx='50' cy='50' r='25' stroke='black' stroke-width='10' fill='none' /></svg>") 32 32, auto;
  }
}

// < 	%3C
// > 	%3E
// # 	%23

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Josefin SansVariable', sans-serif;
    font-variation-settings: "wght" 400;
  }
}

.lake {
  background: var(--lake-surface);
  background: var(--shallows);

  @media (min-height: 30rem) { // guess and check
    height: 90vh;
  }
}

.three__row {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 44em) 1fr;
  width: 100%;
  gap: 1rem;
}

.three__row--constant {
  @extend .three__row;
  grid-template-columns: 1fr 1fr 1fr;
}

.three__row >:first-child {
  place-self: start;
}

.three__row >:nth-child(2) {
  place-self: center;
}

.three__row >:last-child {
  place-self: end;
}

.three {
  @extend .lake;
  padding: 2rem;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;

  > * {
    @extend .three__row;
  }
}

// Im gonna do this by row so it cant be grid area by grid area
.three__row--vert {
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > ul {
    padding-inline-start: 0;
  }
}

.single-area {
  display: grid;
  place-items: center;

  > * {
    grid-row: 1;
    grid-column: 1;
  }
}

.tahoe-svg {
  max-height: 20rem; // guess and check
}

.portfolio__card {
  border-radius: 8px;
  display: grid;
  place-items: center;
  padding: 0.1rem;
  transition: 1s;
  height: 100%;
  background: var(--white);
  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  > .project__title {
    z-index: 2;
    font-size: 4rem;
    margin: 0;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;

    a {
      color: var(--lake-deep);
      @media (prefers-color-scheme: dark) {
        color: var(--lake-surface);
      }
    }
  }

/*   > .project__title::after {
    content: "\21E2";
    content: "\27A9";
    color: var(--lake-deep);
  } */

  > .project__thumbnail {
    z-index: 1;
    min-height: 100%;
    min-width: 100;
    object-fit: cover;
    mix-blend-mode: multiply;
    @media (prefers-color-scheme: dark) {
      mix-blend-mode: screen;
    }

    img {
      filter: opacity(0.5) grayscale(1);
      min-height: 100%;
      min-width: 100%;
    }
  }

  > svg {
    place-self: center;
    fill: var(--lake-surface);
    z-index: 5;
    // opacity: 0.5;
  }
}

.portfolio__card:hover {

  // https://fontsource.org/docs/variable-fonts
  font-family: "Josefin SansVariable";
  font-variation-settings: "wght" 700;
  background: var(--lake-deep);
  
  a {
    color: var(--lake-surface);
  }

  ::after {
    color: var(--lake-surface);
  }

  img {
    // filter: grayscale(0);
    // margin-block-start: 1rem;
  }
}