// @include Josefinsans.fontFaceVariable($weight: 500, $type: "wghtOnly");

body {
  font-size: 16px;
  line-height: 1.5;

  background: var(--metalmnion);
  color: var(--hypolmnion);
  cursor: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'><circle cx='50' cy='50' r='25' stroke='whitesmoke' stroke-width='10' fill='none' /></svg>") 32 32, auto;
  fill: currentColor;
  
  /*------------------------------------*/
  //  #dark
  /*------------------------------------*/

  @media (prefers-color-scheme: dark) {
    background: var(--hypolmnion);
    color: var(--white);
    cursor: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'><circle cx='50' cy='50' r='25' stroke='black' stroke-width='10' fill='none' /></svg>") 32 32, auto;
  }

  /*------------------------------------*/
  //  #fonts
  /*------------------------------------*/
  
  font-family: "Josefin Sans", sans-serif;

  @supports (font-variation-settings: normal) {
    font-family: 'Josefin SansVariable', sans-serif;
    font-variation-settings: "wght" 400;
  }
}


.lake {
// gradients
  @media (min-width: $break-small) {
    background: var(--lake);
  }

  @media (prefers-color-scheme: dark) {
    @media (min-width: $break-small) {
      background: var(--ocean);
    }
  }
}

.screen-high {
  min-height: 100vh;
}

.three.screen-high {
  min-height: calc(100vh - 4rem);
}

.three__row {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 44em) 1fr;
  width: 100%;

  // with empty blocks we get gaps
  @media (min-width: var(--maximum-measure)) { // 🚨
    gap: 1rem;
  }

  >svg:nth-child(3) {
    align-self: start;
  }

  @media (min-width: 20rem) and (max-width: 66rem) {
    > * {
      grid-row: 2;
    }

    > :nth-child(2) {
      grid-column: 2;
    }

    >svg:nth-child(3) {
      // background-color: rebeccapurple;
      grid-row: 1;
      grid-column: 2/4;
      justify-self: end;
      margin-inline-end: 0; // needed for the justify self
      align-self: start;
    }
  }
}

.three__row--constant {
  @extend .three__row;
  grid-template-columns: 1fr;
  
  @media (max-width: 44rem) {
    grid-row-gap: 1rem;
  }

  @media (min-width: 44rem) { // var(--maximum-measure)
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  > * {
    @media (max-width: 44rem) { // not the regular min-width
      grid-column: 1;
    }
  }

  > .portfolio__card {
    grid-row: auto;
  }
}

.three__row--vert-when-needed {
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: $break-small) {
    grid-template-columns: revert;
  }
}

.three__row >:first-child {
  place-self: start;
}

.three__row >:nth-child(2) {
  place-self: center;
}

.three__row >:last-child {
  place-self: end;
}

.pedestal > * {
  place-self: center !important;
}

.three {
  @extend .lake;
  padding: 2rem;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: stretch;

  > * { // maybe this should be a div or go back on some others
    @extend .three__row;
  }

  > .label {
    display: block;
  }
}

// Im gonna do this by row so it cant be grid area by grid area
.three__row--vert {
  grid-column: 1/4;
  writing-mode: vertical-rl; // needs to rl for nav top bar
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > ul {
    padding-inline-start: 0;
  }
}

.single-area {
  width: 100%;
  display: grid;
  place-items: center;

  > * {
    grid-row: 1;
    grid-column: 1;
  }
}

.tahoe-svg {
  max-height: 20rem; // guess and check
}

.portfolio__card {
  grid-row: 1;

  border-radius: 8px;
  display: grid;
  place-items: center;
  // padding: 0.5rem;
  transition: 1s;
  height: 100%;
  background: var(--white);
  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }

/*   > * {
    grid-row: 1;
    grid-column: 1;
  } */

  > .project__title {
    z-index: 2;
    margin: 0;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--light);
    @media (min-width: var(--maximum-measure)) {
      font-size: 4rem;
    }

    a {
      color: var(--lake-deep);
      @media (prefers-color-scheme: dark) {
        color: var(--lake-surface);
      }
    }
  }

/*   > .project__title::after {
    content: "\21E2";
    content: "\27A9";
    color: var(--lake-deep);
  } */

  > .project__thumbnail {
    z-index: 1;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;

    img {
      // filter: opacity(0.5);
      min-height: 100%;
      min-width: 100%;
    }
  }

  > svg {
    place-self: center;
    fill: var(--lake-surface);
    z-index: 5;
    // opacity: 0.5;
  }
}

.portfolio__card:hover {

  // https://fontsource.org/docs/variable-fonts
  font-family: "Josefin SansVariable";
  font-variation-settings: "wght" 700;
  // background: var(--lake-deep);
  
  a {
    color: var(--hypolmnion);
  }
}