// relatively simple groups of UI elements functioning together as a unit.
// For example, a form label, search input, and button can join together to create a search form molecule.

#contact article {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
}
.info {
  grid-column: 2;
  grid-row: 1;
}

.circles {
  align-self: start;
  // grid-row: 1;
  display: grid;
  align-items: center;
  justify-items: center;
}

.circles svg,
.circles video {
  grid-row: 1;
  grid-column: 1;
  transition-duration: 5s;
  transition-timing-function: ease-out;
  border-radius: 50%;
}

.circles svg {
  max-width: 100%;
}

.circles video {
  max-width: 150px;
  @media (min-width: 24em) {
    max-width: 200px;
  }
}

.circles text {
  font-size: 1.5em;
  letter-spacing: 0.12em; // not working
//  text-decoration: underline; this doesnt work
}

.circles text a {
  fill: var(--white);
  @media (prefers-color-scheme: dark) {
    fill: var(--black);
  }
}

.top-nav {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.icons {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > * {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    svg {
      max-height: 2rem;
    }

  }
}

.snap-scroll-container-coordinates {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 10vh auto 0 auto;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
  -scroll-snap-destination: 50% 50%;
  -webkit-scroll-snap-destination: 50% 50%;
  -webkit-overflow-scrolling: touch;
}

.child {
  max-width: 80%;
  max-height: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  scroll-snap-align: center;
  scroll-snap-coordinate: 50% 50%;
  -webkit-scroll-snap-coordinate: 50% 50%;
}

.child img,
.child picture {
  width: 100%;
  max-height: 50em;
  vertical-align: middle;
}

#top { // needs specificity
  .square {
    aspect-ratio: 1 / 1; // nope
  }
/*   h1 {
    border: 0.5rem solid var(--hypolmnion);
    border-radius: 50%;
    aspect-ratio: 1 / 1; // nope
    margin: 0;
  } */

  h1 {
    font-size: 2rem;
    line-height: 3rem; // guess and check

    @media (min-width: var(--maximum-measure)) { // 🚨
      font-size: revert; // maybe
      line-height: 2.5rem; // guess and check
    }
  }

  h1 > span {
    display: block;
    padding-block: 0.25rem;
    margin-block: 0.5rem;
    border-block-start: 0.25rem solid var(--hypolmnion);
    // border-block-end: 0.25rem solid var(--hypolmnion);

    @media (min-width: var(--maximum-measure)) {
      padding-block: 0.5rem;
    }
  }

  .tahoe-svg {
    fill: hsla(var(--lmnion-h), var(--lmnion-s), 95%, 0.5); // guess and check
    @media (prefers-color-scheme: dark) {
      fill: var(--lake-surface);
    }
  }

  // these svgs needs some work
  svg {
    fill: var(--hypolmnion);
    max-width: 100%;
    max-height: 100%;
  }

  .pedestal svg {
    max-width: 4rem;
  }
} // #top
