// Templates are page-level objects that place components into a layout and articulate the design’s underlying content structure.

// scroll snap
.y-scroll-snapping {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
  
  @media (min-width: 30rem) and (min-height: 40rem) {
    scroll-snap-stop: always;
  }
}

.y-scroll-snapping > * {
  // scroll-snap-align: start;
  flex: none;

  @media (min-width: 30rem) and (min-height: 40rem) {
    scroll-snap-align: center;
    height: 90vh;
  }
}

.y-scroll-snapping > .single-page { // needs > for specificity
  height: calc(100% - 4em);
}

.y-scroll-snapping > .any-height {
  height: auto;
}
